
.nav-bar {
  display: flex;
  justify-content: space-between;
  background-color: navy; 
  min-height: 10vh; 
  font-size: calc(10px + 2vmin); 
}

.nav-bar h3 {
    color: white;
    font-weight: bold; 
} 
.nav-bar .date {
  color: white;
  padding-left: 40px;
}

.nav-bar .site-title {
  color: white;
  padding-left: 20px;
}

.nav-bar .about {
  color: white;
    padding-right: 100px;
}
