
.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  background-color: navy; /* #282c34 */
  min-height: 10vh; 
  font-size: calc(10px + 2vmin); 
}

.nav-bar h1 {
    color: white;
    font-weight: bold;
    padding-left: 20px;
}

.nav-bar h3 {
    color: white;
    font-weight: bold;
    
}
