
.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  background-color: orange;  /* #282c34 */
  /* min-height: 100vh; */
  /* font-size: calc(10px + 2vmin); */
  text-decoration: none;
}

.nav-bar h1 {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding-left: 20px;
}